:root {
  --primary: #141414;
  --secondary: #fff;
  --tertiary: rgb(152, 17, 17);
}

body {
  background-color: var(--primary);
  color: var(--tertiary);
  font-family: "Helvetica Neue", sans-serif;
}

.main-page {
  display: flex;
}

.container {
  margin: 0 50px;
}

.card {
  width: 500px;
  height: 280px;
  border-radius: 5px;
  margin: 2px;
  transition: transform 500ms;
  position: relative;
  display: block;
  color: var(--secondary);
}

img {
  width: 100%;
  border-radius: 5px;
}

.indicator-icon {
  color: var(--secondary);
  height: 100%;
  width: 100%;
  transition: transform .1s ease-out 0s;
  cursor: pointer;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  right: 0
}

.indicator-icon:hover {
  background-color: rgba(128, 128, 128, 0.808);
  z-index: 200;
}

.movie-section {
  display: flex;
  align-items: center;
}

.movie-section .indicator-icon {
  width: 100%;
  height: 100%;
  font-size: xx-large;
}

.movie-section:focus-within .card,
.movie-section:focus, .indicator-icon,
.card {
  transform: translate(-25%);
  z-index: 1;
}

.card:focus ~ .card,
.card:hover ~ .card {
  transform: translateX(25%);
}

.movie-section .card:focus,
.movie-section .card:hover {
  transform: scale(1.5);
  z-index: 1;
}

.more-button {
  width: 100px;
  height: 100px;
}

.movie-section .card:focus,
.movie-section .card:focus {
  transform: scale(1.5);
  z-index: 1;
}

.synopsis {
  color: var(--secondary);
  display: flex;
  margin-left: 109px;
  align-items: center;
  flex-wrap: wrap;
}

.genreTitle {
  text-align: center;
}

.page-end {
  width: 100%;
  height: 100px;
  background-color: lightblue;
}
